@import url("https://fonts.googleapis.com/css?family=Raleway:500");
h3 {
  font-weight: 500;
  font-size: 20px;
  text-align: center; }
  @media screen and (max-width: 490px) {
    h3 {
      font-size: 14px; } }

p {
  text-align: center;
  margin-bottom: 5%;
  font-size: 16px; }
  @media screen and (max-width: 490px) {
    p {
      font-size: 13px; } }

.allbeers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 5%;
  margin-top: 4%; }

.onebeer {
  margin-right: 3%;
  width: 30%;
  justify-content: center;
  margin-bottom: 2%; }
  .onebeer #popup {
    display: none;
    border: 1px solid grey;
    padding: 1%;
    text-align: center;
    border-radius: 5px;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    width: 25%; }
    @media screen and (max-width: 490px) {
      .onebeer #popup {
        font-size: 12px; } }
  .onebeer:hover #popup {
    display: block; }
  .onebeer:hover .line {
    width: 30%; }

.line {
  background-color: #ff9716;
  width: 20%;
  height: 1%;
  margin: auto; }

.beerimage {
  width: 60%;
  height: auto;
  margin-left: 20%;
  margin-top: 5%; }
